TechniqueMetadata(
    type: Compute(ComputeTechnique(
        cs_path: "./tonemap.comp.glsl"
    )),
    descriptor_sets: {
        0: DescriptorSetMetadata(
            is_update_after_bind: false
        ),
    },
)